# The name of the application
NOTIFYSTACK_APP_NAME="NotifyStack OSS"

# API Version Prefix
NOTIFYSTACK_API_V1_PREFIX="/api/v1"

# Database Connection URL (e.g. postgresql+asyncpg://user:password@host:port/db)
NOTIFYSTACK_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/notifystack"

# JWT Authentication Secret (Must be at least 32 characters)
NOTIFYSTACK_JWT_SECRET="your-super-secret-key-min-32-chars-long"

# JWT Algorithm
NOTIFYSTACK_JWT_ALGORITHM="HS256"

# Access Token Expiry in Minutes
NOTIFYSTACK_ACCESS_TOKEN_EXP_MINUTES=30

# Refresh Token Expiry in Minutes
NOTIFYSTACK_REFRESH_TOKEN_EXP_MINUTES=10080
